catalog: blueprints
template: managed_template
agent_user: ubuntu
management_network_name: elip-management-network
floating_ip_gateway: M684216431-4470
agent_public_key:  ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDhdXfHZePrl+rZOBu2/f7/hmiTYlkOOKWd9cGXx45mrXatfT/zWAjruMdqBJIpRjwHFiQjjSmSg6/q+Fe9vXN9/m7Sz6Uzvc/aT7JmLozh6ttP45xkDb/HVaGgIHRu9le0UKB3loEvroaGMH/PdAfPIBrc7JdTazhqZPO5zOw7SMTGbJ4rBUVDNyi4hNoOWXwBpE9lbmaSu+ZbdcMD4LV580g62AdyoVfMvYnC9wa993AdVCzukDI5ryMloy5qyv4xAspjVDJPg49gf/5rO4MJdpkA9JFcN45LmP1vmP8MIuzPCtGdBTl9wkF5Dp7rHZM5wXapf9/pTilAR3bhAHgp elip@gigaspaces.com
